html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.marker {
  align-items: center;
  color: #000000;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
  z-index: 1;
}

/* Bikestation marker */

.marker-bikestation.status-plenty {
  background-color: #FCBC19;
}
.marker-bikestation.status-few {
  background-color: #cccccc;
}

/* Tram marker */

.marker-tram {
  background-color: #00985f;
  border-radius: 100%;
}

.marker-tram .direction {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-left: -10px;
  margin-top: -10px;
  background: transparent;
  border-radius: 100%;
}

.marker-tram .direction::after {
  position: absolute;
  visibility: initial;
  top: -6px;
  left: 5px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #00985f;
}

 /* Departures */

 #departures {
   background: #ccc;
   bottom: 0;
   color: #000000;
   padding: 1em;
   position: absolute;
   right: 0;
   z-index: 10;
 }

 .departure-title {
   font-size: 1em;
   font-weight: bold;
   margin: 0 0 0.5em 0;
 }

 .departure-list {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 /* Utility */

.hidden {
  display: none;
}