html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.bikestation-marker {
  align-items: center;
  color: #000000;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.bikestation-marker.status-plenty {
  background-color: #FCBC19;
}

.bikestation-marker.status-few {
  background-color: #cccccc;
}